{% extends "./plantilla.html" %}
{% block title %}Administracion de productos{% endblock %}
{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <h2>Administración de productos</H2>
      <div class = "card">
        <div class = "card-body">
          <form action="/registrarProducto/" method="POST">{% csrf_token %}
            <div class="form-group">
              <input type="text" id="txtProducto" name="txtProducto" class="form-control" placeholder="Nombre producto"
              minLength="1" Required>
            </div>
            <div class="form-group">
              <input type="number" id="txtPrecio" name="txtPrecio" class="form-control" placeholder="Precio producto" step="0.01" required>
            </div>
            <div class="form-group">
              <input type="number" id="txtCantidad" name="txtCantidad" class="form-control" placeholder="Cantidad producto" min="1" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
            </div>  
          </form>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-8">
    <h1>Listado de productos</h1>
    <div class="table-response">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Productos</th>
            <th>Precios</th>
            <th>Stock</th>
            <th colspan="2">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for c in productos %}
          <tr>
            <td>{{c.id}}</td>
            <td>{{c.Productos}}</td>
            <td>{{c.Precios}}</td>
            <td>{{c.Stock}}</td>
            <td><a href="edicionProducto/{{c.id}}" class="btn btn-info">Editar</a></td>
            <td><a href="eliminarProducto/{{c.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}