{% extends "./plantilla.html" %}

{% block title %} Gestión de Productos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Curso</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarProducto/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" value="{{productos.id}}" class="form-control" placeholder="id"
                            minlength="6" maxlength="6" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtProducto" name="txtProducto" value="{{productos.Productos}}" class="form-control" placeholder="Nombre producto"
                            minlength="1" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtPrecio" name="txtPrecio" value="{{productos.Precios}}" class="form-control" placeholder="Precio producto"
                            step="0.01" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtCantidad" name="txtCantidad" value="{{productos.Stock}}" class="form-control" placeholder="Cantidad producto" 
                            min="1" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}